common --noenable_bzlmod
common --enable_workspace

build --incompatible_enable_cc_toolchain_resolution
build --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

build --sandbox_default_allow_network=false
build --experimental_reuse_sandbox_directories

# reproducible builds. # TODO, does this apply if we're being used as a dependency?
build --action_env="TZ=UTC"
build --action_env="LANG=C"
build --action_env="LC_ALL=C"

# TODO: come up with a better solution. Something like https://github.com/dhbaird/rules_foreign_cc_jobserver
build --action_env="MAKEFLAGS=-j10"
